body {
  background-color: red;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 2.5vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 50vh;
  padding: 3vh;
  font-weight: 340;
}
.arrows {
  height: 10vh;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 6vh;
}
